<!-- HEADER AND TODO COUNT -->
<div class="jumbotron text-center">
  <h1>INSTAGRAM POST<span class="label label-meteo"></span></h1>
</div>

<!-- FORM TO CREATE TODOS -->
<div id="todo-form" class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
      <form  novalidate #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
          <div class="form-group">
              <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
              <input type="text" class="form-control input-lg text-center" placeholder="past instagram link here" name="cityName" [(ngModel)]="cityName" [ngModelOptions]="{updateOn: 'blur'}" required>
          </div>
          <div class="form-group">
              <!-- createToDo() WILL CREATE NEW TODOS -->
              <button type="submit" class="btn btn-primary btn-lg" >Get Winner</button>
          </div>
      </form>

  </div>
</div>
